---
import "../styles/globals.css";
import "../styles/fonts.css";

import styles from "../styles";

import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Stats from "../components/Stats.astro";
import Business from "../components/Business.astro";
import Billing from "../components/Billing.astro";
import CardDeal from "../components/CardDeal.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <link rel="preload" href="/fonts/Poppins/400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Poppins/500.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Poppins/600.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Poppins/700.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Poppins/800.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Poppins/900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="FinEdge is a modern & futuristic banking system." />
    <meta name="og:title" content="FinEdge" />
    <meta name="og:description" content="FinEdge is a modern & futuristic banking system." />
    <meta name="og:image" content="https://hoo-bank-siri.vercel.app/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://hoo-bank-siri.vercel.app" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@WebDev_Siri" />
    <meta name="twitter:title" content="FinEdge" />
    <meta name="twitter:description" content="FinEdge is a modern & futuristic banking system." />
    <meta name="twitter:image" content="https://hoo-bank-siri.vercel.app/favicon.png" />
    <meta name="twitter:url" content="https://hoo-bank-siri.vercel.app" />
    <title>FinEdge</title>
  </head>
  <body class="bg-primary w-full">
    <Navbar />
    <main>
      <Hero />
      <div class={`bg-primary ${styles.paddingX} ${styles.flexStart}`}>
        <div class={styles.boxWidth}>
          <Stats />
          <Business />
          <Billing />
          <CardDeal />
          <CTA />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
